<%= form_for @clipping, :html => {:multipart => true} do |f| %>  
<%#  <%= f.error_messages %>  
<%= render 'shared/error_messages', :object => f.object %>

    <p>  
        <%= f.label :uploaded_file, "File" %><br>  
        <%= f.file_field :uploaded_file %>  
    </p>  
        <%= f.hidden_field :folder_id %>  

  <p><%= f.submit "Upload" %></p>  
<% end %>  