<%= form_for @folder do |f| %>  
 <%# <%= f.error_messages %>  
 <%= render 'shared/error_messages', :object => f.object %>

 <p>  
    <%= f.label :name %><br />  
    <%= f.text_field :name %>  
 </p> 
    <%= f.hidden_field :parent_id %>   
 <p><%= f.submit "Create Folder" %></p>  
<% end %>  
