<% provide(:title, 'Care Plan') %>

<h2>Tribal Care Plan</h2>



<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
        <h5>Tagged Posts</h5>
        <%= render 'shared/feed' %>
    </div>

    <div class="span10">


<h4>Problem List</h4>
<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>Problem</th>
    <th>Code</th>
    <th>Notes</th>
    <th>Created</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.problem %></td>
    <td><%= problem.code %></td>
    <td><%= problem.notes %></td>
    <td><%= problem.created_at %></td>
    <td><%= problem.user_id %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>



<h4>Medications</h4>
<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>Name</th>
    <th>Problem</th>
    <th>Dosage</th>
    <th>Instructions</th>
    <th>Created</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medications.each do |medication| %>
  <tr>
    <td><%= medication.name %></td>
    <td><%= medication.problem %></td>
    <td><%= medication.dosage %></td>
    <td><%= medication.instructions %></td>
    <td><%= medication.created_at %></td>
    <td><%= medication.user_id %></td>
    <td><%= link_to 'Show', medication %></td>
    <td><%= link_to 'Edit', edit_medication_path(medication) %></td>
    <td><%= link_to 'Destroy', medication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medication', new_medication_path %>


<h4>Goals</h4>
<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>Goal</th>
    <th>Expected outcome</th>
    <th>Target date</th>
    <th>Results</th>
    <th>Created</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr>
    <td><%= goal.goal %></td>
    <td><%= goal.expected_outcome %></td>
    <td><%= goal.target_date %></td>
    <td><%= goal.results %></td>
    <td><%= goal.created_at %></td>
    <td><%= goal.user_id %></td>
    <td><%= link_to 'Show', goal %></td>
    <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
    <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>


<h4>Barriers</h4>
<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>Barrier</th>
    <th>Intervention</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @barriers.each do |barrier| %>
  <tr>
    <td><%= barrier.barrier %></td>
    <td><%= barrier.intervention %></td>
    <td><%= barrier.user_id %></td>
    <td><%= link_to 'Show', barrier %></td>
    <td><%= link_to 'Edit', edit_barrier_path(barrier) %></td>
    <td><%= link_to 'Destroy', barrier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Barrier', new_barrier_path %>



</div>
  </div>
</div>








