<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Update the Tribe.</h1>
        <%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>





<%-# clippings menu on user home -%>
    <div id="menu">  
       <ul id= "top_menu">      
           <li><%= link_to "Upload Clipping", new_clipping_path %></li>  
       </ul>  
    </div>  
<%-# end menu -%>

<%-# clippings list on user home -%>
<div class="clipping_list_header">  
       <div class="file_name_header">File Name</div>  
       <div class="file_size_header">Size</div>  
       <div class="file_last_updated_header">Modified</div>  
   </div>  
   <div class="clipping_list">  
       <% @clippings.each do |clipping| %>  
           <div class="clipping_details">  
               <div class="file_name"><%= link_to clipping.file_name, download_url(clipping) %></div>  
               <div class="file_size"><%= number_to_human_size(clipping.file_size, :precision => 2) %></div>  
               <div class="file_last_updated"><%= clipping.uploaded_file_updated_at %></div>  
           </div>  
       <% end %>  
   </div>  
<%-# end clippings -%>






<% else %>

<h1>MindTribe</h1>
<p>
	Connect. Communicate. Care.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>


<% end %>